@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Poppins', sans-serif; */
    font-family: "Avenir Next",sans-serif;
}

body {
    background-color: #e5e8ed;
    padding: 0;
    margin: 0;
    font-family: "Avenir Next",sans-serif;
}

strong {
    font-size: 30px;
}

.how-aed ol {
    list-style: none;
    counter-reset: item;
    padding-left: 40px;
}

.references ol {
    padding-left: 300px;
    margin-top: 50px;
}

.references li {
    font-size: 20px;    
}

.how-aed li {
    counter-increment: item;
    margin-bottom: 5px;
    font-size: 25px;
    padding: 10px;
}

.how-aed li:before {
    margin-right: 10px;
    content: counter(item);
    background: rgba(188, 8, 8, 0.745);
    border-radius: 100%;
    color: white;
    width: 1.5em;
    text-align: center;
    display: inline-block;
}

a {
    text-decoration: none;
}


span {
    padding: 5px;
    color: white;
}

.SCA-fact {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#SCA {
    /* display: inline-block; */
    padding: 20px;
    color: rgba(188, 8, 8, 0.745);
    font-weight: bold;
    font-size: 30px;
}



.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* background-color: #8a1515; */
    background-color: #e5e8ed;
    padding-left: 90px;
    padding-right: 80px;
    /* border-bottom: #bbbcc5 solid; */
}

.nav-item {
    align-self: center;
    color:  black;
    font-size: 20px;
}

.aed-home-page {
    height: 50px;
    width: 50px;
}

.aed-home-page a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10px;
}

.aed-home-text {
    color: black;
    font-size: 26px;
    align-self: center;
    /* font-weight: bolder; */
}

.other-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

.animate-text {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 300px;
    background: #2b323c;
    color: #fff;
}

.animate-text h1 {
    font-size: 35px;
    font-weight: 600;
}

.typed-cursor {
    font-size: 45px;
}

.highlight {
    background-color: red;
}


.content {
    height: 100%;
    width: 100%;
    display:flex;
    flex-direction: column;
    padding-top: 70px;
    padding-left: 250px;
    padding-right: 250px;
    /* border: 2px solid red; */
}

.what-aed {
    padding-bottom: 50px;
    border-bottom: 1px rgb(190, 187, 187) solid;
}

.who-aed {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 100px;
    /* padding-top: 100px; */
    padding-bottom: 50px;
    border-bottom: 1px rgb(190, 187, 187) solid;
}

.who-aed-text {
    /* padding-left: 200px; */
    width: 800px;
    align-self: center;
    /* border: 2px red solid; */
}

.who-aed-img {
    width: 400px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    /* gap: 20px; */
    /* border: red solid 2px; */
}


.circle-img-1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -25px;
    height: 170px;
    width: 170px;
    /* border: rgb(190, 187, 187) 1px solid; */
    border-radius: 50%;
    padding-top: 25px;
    align-self: flex-start;
}

.circle-img-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 170px;
    /* border: rgb(190, 187, 187) 1px solid; */
    border-radius: 50%;
    align-self: flex-end;

}

.circle-img-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 170px;
    width: 170px;
    /* border: rgb(190, 187, 187) 1px solid; */
    border-radius: 50%;
    align-self: flex-start;
}

.how-aed {
    padding-top: 50px;
    padding-bottom: 50px;
    border-bottom: 1px rgb(190, 187, 187) solid;
}

.steps {
    padding-top: 30px;
    font-size: 25px;
}

.aed-diagram {
    padding: 50px;
    display: flex;
    justify-content: space-evenly;
}

.how-video {
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
    padding-top: 50px;
}

.how-video-text {
    font-size: 20px;
    font-weight: 700;
}

.how-video-video {
    align-self: center;
}

h1 {
    font-size: 35px;
}

p {
    font-size: 25px;
}

.references {
    align-self: center;
}