@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
/* #C3BCBC */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #e5e8ed;
    padding: 0;
    margin: 0;
}

/**** Nav bar ****/
.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* background-color: #8a1515; */
    background-color: #e5e8ed;
    padding-left: 90px;
    padding-right: 80px;
    /* border-bottom: #bbbcc5 solid; */
}

.nav-item {
    align-self: center;
    color:  black;
    font-size: 20px;
}

.aed-home-page {
    height: 50px;
    width: 50px;
}

.aed-home-page a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10px;
}

.aed-home-text {
    color: black;
    font-size: 26px;
    align-self: center;
    /* font-weight: bolder; */
}

.other-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

/**** Geolocate toggler ****/
.geo-locate-button {
    height: 150px;
    /* border: solid red 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
}

.switch {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

.switch input {
    appearance: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #b8a4a4;
    outline: none;
}

.switch input::before,
.switch input::after {
    z-index: 2;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    font-weight: bolder;
}

.switch input::before {
    content: "ON";
    left: 20px;
}

.switch input::after {
    content: "OFF";
    right: 20px;
}

.switch input:checked {
    background: #8a1515;
}

.switch label{
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 4px;
    border-radius: 20px;
}

.switch input {
    transition: 0.25s;
}

.switch input:checked::after, 
.switch input:checked::before {
    color: #fff;
    transition: color 0.5s;
}

.switch input:checked+label {
    left: 10px;
    right: 100px;
    background: #1e1e1e;
    transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked)::before{
    color: #ffff;
    transition: color 0.5s;
}

.switch input:not(:checked)::after {
    color: #1e1e1e;
    transition: color 0.5s 0.2s;
}

.switch input:not(:checked) +label {
    left: 100px;
    right: 10px;
    background: #8a1515;
    transition: left 0.3s 0.2s, right 0.3s, background 0.35s;
}

/**** Geolocate toggler END ****/

/**** Location + Map panel ****/
.home-icon {
    display:flex;
    justify-content: center;
    align-items: center;
}

.aed-me {
    font-size: 28px;
}


#map {
    height: 100%;
    width: 60%;
    border: #bbbcc5 solid;
}

#locations {
    height: 100%;
    width: 600px;
    /* border: #bbbcc5 solid; */
    /* overflow-x: scroll; */
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    /* border: red 2px solid; */
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* gap: 150px; */
    padding-top: 100px;
    padding-left: 50px; 
    padding-right: 50px;     
    /* box-shadow: 10px 10px;
    color: black; */
}

/**** Location + Map panel END ****/

/**** Aed-clickable ****/

.aed-clickable {
    height: 80%;
    width: 500px;
    /* border: red 2px solid; */
    /* padding-right: 150px; */
}


#checkbox {
    -webkit-appearence:none;
    appearance: none;
    height: 120px;
    width: 120px;
    background: linear-gradient(
        to top,
        #fafafa,
        #d0d3d8
    );
    position: absolute;
    margin: auto;
    top: 0;  /* change this to orient button */
    bottom: 70px;
    left: 350px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
}

#checkbox:before {
    position: absolute;
    content:"";
    height: 180px;
    width: 180px;
    background: linear-gradient(
        to bottom,
        #fafafa,
        #d0d3d8
    );
    border-radius: 50%;
    z-index: -1;
    bottom: -30px;
    left: -30px;
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);
}

#checkbox:after{
    position: absolute;
    content: "";
    height: 210px;
    width: 210px;
    background: #d6dce3;
    bottom: -45px;
    left: -45px;
    z-index: -2;
    border-radius: 50%;
    box-shadow: inset 0 0 8px rgba(0,0,0,0.2);
} 

label[for="checkbox"] {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 512px; /* change this to orient button */
    left: 410px;

}


label[for="checkbox"] > .fa-solid {
    font-size: 50px;
    color: #a8aaba;
} 

#checkbox:checked + label[for="checkbox"] > .fa-solid {
    color: #8a1515;
}

#checkbox:checked:after {
    background: linear-gradient(
        -135deg,
        #8a061ebd,
        #8a1515
    );
}  

label[for="checkbox"] > .fa-solid:hover {
    color: #8a1515;
}

/* a {
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 5em;
    margin: -2em;
  } */