@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
/* #C3BCBC */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Avenir Next",sans-serif; */
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #e5e8ed;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/**** Nav bar ****/
.navigation {
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center; 
    /* background-color: #8a1515; */
    background-color: #e5e8ed;
    padding-left: 90px;
    padding-right: 80px;
    /* border-bottom: #bbbcc5 solid; */
}

.nav-item {
    align-self: center;
    color:  black;
    font-size: 20px;
}

.aed-home-page {
    height: 50px;
    width: 50px;
}

.aed-home-page a {
    text-decoration: none;
    color: black;
    display: flex;
    gap: 10px;
}

.aed-home-text {
    color: black;
    font-size: 26px;
    align-self: center;
    /* font-weight: bolder; */
}

.other-pages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 35px;
}

/**** Geolocate toggler ****/
.geo-locate-button {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: -100px;
    margin-top: 60px;
}

.geo-locate-title {
    font-size: 20px;
    font-weight: 700;
}

.switch {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

.switch input {
    appearance: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #b8a4a4;
    outline: none;
}

.switch input::before,
.switch input::after {
    z-index: 2;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    font-weight: bolder;
}

.switch input::before {
    content: "ON";
    left: 20px;
}

.switch input::after {
    content: "OFF";
    right: 20px;
}

.switch input:checked {
    background: #8a1515;
}

.switch label{
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 4px;
    border-radius: 20px;
}

.switch input {
    transition: 0.25s;
}

.switch input:checked::after, 
.switch input:checked::before {
    color: #fff;
    transition: color 0.5s;
}

.switch input:checked+label {
    left: 10px;
    right: 100px;
    background: #1e1e1e;
    transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked)::before{
    color: #ffff;
    transition: color 0.5s;
}

.switch input:not(:checked)::after {
    color: #1e1e1e;
    transition: color 0.5s 0.2s;
}

.switch input:not(:checked) +label {
    left: 100px;
    right: 10px;
    background: #8a1515;
    transition: left 0.3s 0.2s, right 0.3s, background 0.35s;
}

/**** Geolocate toggler END ****/

/**** Location + Map panel ****/
.home-icon {
    display:flex;
    justify-content: center;
    align-items: center;
}

.aed-me {
    font-size: 28px;
}


#map {
    height: 100%;
    width: 60%;
    border: #bbbcc5 solid;
}

#locations {
    height: 100%;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    height: 900px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    padding-left: 50px; 
    padding-right: 50px;     
    padding-bottom: 100px;
}

.find-me {
    height: 100px;
    width: 200px;
}

button {
    text-decoration: none;
    border: none;
    height: 80px;
    width: 250px;
    font-size: 25px;
    background-color:#b8a4a4;
    border-radius: 20px;
    color: black;
}

button:hover {
    background-color: #750808;
    color: white;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

/**** Location + Map panel END ****/

.fa-4x i {
    color: #750808;
}