@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background-color: #e5e8ed;
    padding: 0;
    margin: 0;
}

.navigation {
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    background-color: #8a1515;
}

.nav-item {
    align-self: center;
    color: white;
    font-size: 14px;
}

.geo-locate-button {
    height: 150px;
    /* border: solid red 2px; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -100px;
}

.switch {
    position: relative;
    width: 200px;
    height: 50px;
    border-radius: 25px;
}

.switch input {
    appearance: none;
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #b8a4a4;
    outline: none;
}

.switch input::before,
.switch input::after {
    z-index: 2;
    position: absolute;
    top: 56%;
    transform: translateY(-50%);
    font-weight: bolder;
}

.switch input::before {
    content: "ON";
    left: 20px;
}

.switch input::after {
    content: "OFF";
    right: 20px;
}

.switch input:checked {
    background: #8a1515;
}

.switch label{
    z-index: 1;
    position: absolute;
    top: 10px;
    bottom: 4px;
    border-radius: 20px;
}

.switch input {
    transition: 0.25s;
}

.switch input:checked::after, 
.switch input:checked::before {
    color: #fff;
    transition: color 0.5s;
}

.switch input:checked+label {
    left: 10px;
    right: 100px;
    background: #1e1e1e;
    transition: left 0.5s, right 0.4s 0.2s;
}

.switch input:not(:checked)::before{
    color: #ffff;
    transition: color 0.5s;
}

.switch input:not(:checked)::after {
    color: #1e1e1e;
    transition: color 0.5s 0.2s;
}

.switch input:not(:checked) +label {
    left: 100px;
    right: 10px;
    background: #8a1515;
    transition: left 0.3s 0.2s, right 0.3s, background 0.35s;
}

.home-icon {
    display:flex;
    justify-content: center;
    align-items: center;
}

.aed-me {
    font-size: 28px;
}

a {
    text-decoration: none;
    color: black;
}

#map {
    height: 80%;
    width: 60%;
}

#locations {
    height: 80%;
    width: 40%;
    /* border: 3px solid grey; */
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; */
    overflow-x: scroll;
}


html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    /* border: 2px solid red; */
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;    
    /* box-shadow: 10px 10px;
    color: black; */
}

#find_aed {
    background-color: rgb(142, 6, 6);
    /* border: none; */
    color: white;
    padding: 15px 32px;
    text-decoration: none; 
    /* /* display: inline-block; */
    font-size: 16px;
}
